.poppins {

  font-family: "Poppins", sans-serif;

  font-weight: 700;

  font-style: normal;

}


.big-font {
  font-size:70px
  }

h {
  border: 2px solid black;
  padding: 200px;
  display: inline-block;
}
