.poppins {

  font-family: "Poppins", sans-serif;

  font-weight: 700;

  font-style: normal;

}


.caveat {
  font-family: "Caveat", cursive;

  font-optical-sizing: auto;

  font-weight: 300;

  font-style: normal;
  }

.multi-column {
  column-count: 4;
  column-gap: 20px;
}

.clickable-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.group-content {
  display: flex;
  flex-direction: column;
  aign-items: center;
}
